* {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}



.main {
  margin: 0px;
  padding: 0;
  overflow-x: hidden;
}

.website_banner {
  background-color: brown;
  width: 100%;
  height: 400px;
}

.image-header {
  width: 99.75%;
  height: 400px;
  margin: 1px;
}

.navbar
{
	width: 100%;
	height: 50px;
	flex: 1;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: black;
	border-bottom: 2px solid #EAEAEB;
}

li.a
{
	display:inline-block;
	margin:2px;
	float: left;

}

li.a a:link, a:visited 
{
	color:black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

li.a a:hover, a:active 
{
	color:brown;
}


li.a a:hover,
a:active {
  color: brown;
}

.review {
  width: 600px;
  margin: 0 auto 40px;
}

.review form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

input,
textarea {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

#button {
  background-color: #ffd803;
  padding: 15px 0;
  width: 200px;
}

.review form label {
  margin: 0 auto;
  width: 300px;
}

.header1 {
  width: 50%;
  margin: 0 auto;
  background-color: #bae8e8;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid black;
}

.header1 img {
  width: 100px;
}

.manager-pic {
  display: block;
  width: 25%;
  height: 300px;
  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3px;
  border-radius: 20px;
}

.owner {
  width: 100%;
  height: 300px;
}

.description {
  width: 100%;
  height: 295px;
  padding-top: 5px;
  text-align: center;
}

#desc {
  color: black;
  font-family: "Barlow", sans-serif;
  text-align: center;
}

.background {
  width: 100%;
  height: 295px;
  padding-top: 5px;
  text-align: center;
  background-image: url("bg.jpg");
}
#bg {
  color: black;
  font-family: "Barlow", sans-serif;
  text-align: center;
  background-image: url("bg.jpg");
}

.footer {
  width: 99.5%;
  height: 50px;
  padding: 5px;
  background-color: #c1e7e3;
}

.media {
  background-image: url("bg.jpg");
}

p {
  color: black;
  font-family: "Oswald", sans-serif;
}

.social {
  height: 50px;
  padding: 1px;
}

h3 {
  font-family: "Oswald", sans-serif;
}

.social ul {
  display: flex;
  justify-content: center;
  background-color: #c1e7e3;
}

.social ul li {
  margin: 20px;
}
.location {
  margin: 0px auto 40px;
  display: flex;
  justify-content: center;
}

.location img {
  width: 55%;
  border-radius: 10px;
  border: 2px solid;
}

.social {
  margin: 10px auto;
  justify-content: center;
}

p.txt {
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

#name {
  font-size: 26px;
}
