.header
{
	width: 100%;
}


.main
{
	margin: 0px;
}

.website_banner
{
	background-color:brown;
	width: 100%;
	height: 400px;
}
.image-header
{	
	width: 99.75%;
	height: 400px;
	margin: 1px;
}

.navbar
{
	width: 100%;
	height: 50px;
	flex: 1;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: black;
	border-bottom: 2px solid #EAEAEB;
	margin-bottom: 40px;
}


li.a
{
	display:inline-block;
	margin:2px;
	float: left;

}

li.a a:link, a:visited 
{
	color:black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

li.a a:hover, a:active 
{
	color:brown;
}

.wrapper
{
	margin-left: 50px;
}

.corporate1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

h3
{
	color: black;
	font-family: 'Barlow', sans-serif;
}



p
{
	color: black;
	font-family: 'Barlow', sans-serif;
}

.debut1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions1
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.family1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions2
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.group1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions3
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.headshot1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions4
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.individual1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions5
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.portrait1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions6
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.newborn1
{
	
	width: 30%;
	height: 300px;
	margin-top:7.5px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inclusions7
{
	width: 65%;
	height: 300px;
	float: right;
	margin-top:10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.footer
{
	width: 99.25%;
	height: 50px;
	background-color:#C1E7E3;
	padding: 5px;
}

.social
{
	height: 50px;
	padding: 1px;
	background-color:#C1E7E3;
}

.media
{
	margin-top: 40px;
	padding-top: 20px;
	background-color:#C1E7E3;
}

p
{
	color: black;
	font-family: 'Oswald', sans-serif;
}

li.b
{
	display:inline-block;
	margin:2px;
	text-align: center;
	font-family: 'Oswald', sans-serif;

}

li.b a:link, a:visited 
{
	color:black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

li.b a:hover, a:active 
{
	color:brown;
}